net-links {
    & nav-button { 
        & a {
            font-family: "Cormorant Garamond", serif;
            font-weight: 500;
            font-size: 1.1em;
            text-decoration: underline;
            text-decoration-thickness: 0.05em;
            text-underline-offset: 0.2em;
        }
    }
}